.product_info {
  margin-top: 60px;
}
.product_title {
  font-size: 36px;
  font-weight: 600;
}
.product_wrapper {
  display: flex;
  padding: 0 60px;
  margin-top: 30px;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 60px;
}
.image_wrapper {
  flex-shrink: 0;
  max-width: 710px;
  width: 100%;
  min-height: 710px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image_wrapper img {
  width: inherit;
  height: 100%;
  object-fit: contain;
}
.detail_info {
  max-width: 410px;
}
.price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  font-weight: 600;
}
.actual_price {
  font-size: 70px;
}
.actual_price span {
  font-size: 20px;
}
.old_price {
  color: var(--8b-grey);
  text-decoration: line-through;
  font-weight: 500;
  font-size: 20px;
}
.discount {
  color: var(--accent-color);
  font-size: 28px;
}
.discount span {
  font-size: 20px;
}
.description {
  border-top: 1px dashed var(--c0-grey);
  padding-top: 25px;
  font-size: 20px;
}
.description_title {
  font-weight: 600;
  margin-bottom: 15px;
}

@media (max-width: 1400px) {
  .image_wrapper {
    min-height: auto;
  }
}
@media (max-width: 768px) {
  .product_info {
    margin-top: 40px;
  }
  .product_wrapper {
    padding: 0;
    gap: 10px;
  }
}
@media (max-width: 400px) {
  .product_info {
    margin-top: 30px;
  }
  .actual_price {
    font-size: 40px;
  }
}
