.categories_wrapper{
  margin-top: 80px;
}

.categories_list_container {
	margin: 80px 0 60px; 
	display: grid;
	grid-template-columns: repeat(auto-fit, 318px);
	justify-items: center;
	justify-content: center;
	grid-column-gap: 35px;
	grid-row-gap: 60px;
}
