.container{
	display: grid;
	grid-template-columns: repeat(auto-fit, 318px);
	grid-column-gap: 35px;
	grid-row-gap: 55px;
    justify-items: center;
	justify-content: center; 
}



/* .container{
display: grid;
    gap: 30px;
    grid-template-columns: repeat(4, 1fr);
} */

