.phone_form{
    display: flex;
	flex-direction: column;
	gap: 25px;
	position: relative;
}
.error{
	/* position: absolute; */
	padding-left: 10px;

	z-index: 10;
	/* top: -40px; */
	/* transform: translateY(150%); */


	 font-weight: 600;
	font-size: 18px; 

	color: var(--red);
	opacity: 0;
	transition: opacity var(--hover-time) ease, transform var(--hover-time) ease;
}

.active{
	/* transform: translateY(0); */
	opacity: 1;
}