.phone_form {
  display: flex;
  flex-direction: column;
  gap: 25px;
  position: relative;
}
.input_wrapper {
  position: relative;
}
.error {
  position: absolute;
  padding-left: 10px;
  z-index: 0;
  top: -45px;
  transform: translateY(150%);
  font-weight: 600;
  font-size: 18px;
  color: var(--blue);
  opacity: 0;
  transition: opacity var(--transition), transform var(--transition);
}
.error.active {
  transform: translateY(0);
  opacity: 1;
}
