.phone_form {
  display: flex;
  flex-direction: column;
  gap: 25px;
  position: relative;
  /* max-width: 500px; */
}
.input_wrapper {
  position: relative;
}
.error {
  position: absolute;
  padding-left: 10px;
  z-index: 0;
  top: -50px;
  transform: translateY(150%);
  font-weight: 600;
  font-size: 18px;
  color: var(--red);
  opacity: 0;
  transition: opacity var(--transition), transform var(--transition);
  /* transition: all .4s ease; */
}

.error.active {
  transform: translateY(0);
  opacity: 1;
}
