.ui_btn{
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    
}


.ui_btn.header_btn{
    width: 125px;
    height: 50px;
    font-size: 16px;
    font-weight: 700;
    background-color: var(--green);
    color: var(--white);
}

.ui_btn.sale_btn{
    background-color: var(--white);
    color: var(--black);
    font-weight: 700;
    font-size: 25px;
    width: 155px;
    height: 80px;
}


.ui_btn:hover{
    background-color: rgb(0, 187, 255);
}