.header{
    margin-top: 20px;
}

.header_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

 .left_part, .right_part{
    align-items: center;
} 

.left_part{
    display: flex;
    gap: 60px;
    z-index: 20;
}
/* .logo {
    cursor: pointer;
    
} */

.right_part{
    display: flex;
    gap: 30px;
    font-weight: 500;
    font-size: 16px;  
}

.bag_link{
    max-width: 200px;
    position: relative;
}

.right_part img{
    width: 30px;
    height: 30px;
    display: block;
}
.cartCount{
    position: absolute;
    background: red;
    color: white;
    border-radius: 50%;
    width: 20px;
	height: 20px;
    text-align: center;
    font-size: 12px;
    padding: 2px;
    bottom: -25%;
	right: -20%;
	font-weight: 800;
    z-index: 100; 
    display: flex;
    justify-content: center;
}

.burger_btn{
    display: none;
}

@media (max-width: 768px){
.burger_btn{
    display: block;
    position: absolute;
    right: 30px;
    top: 30px;
    cursor: pointer;
    z-index: 10; 
}
.bag_link{
    position: fixed;
    bottom: 100px;
    right: 50px;
    z-index: 20;
}
.bag_link img{
width: 50px;
height: 50px;
}
}