* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    scroll-behavior: smooth;
  
    --black: #000;
    --white: #fff;
    --green:  #339933;
    --grey: #8B8B8B;
    --pink: #FF32A1;
    --red: red;   
    
    --transition: .3s ease-in;
  
  }
  
input{
background-color: var(--white);
  }

ul, ol, li{
  list-style: none;
}

a{
  text-decoration: none;
  color: var(--black);
  }

.app{
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  background-color: var(--white);
  font-family: Montserrat;
  font-weight: 400;
}

.container{
  max-width: 1440px;
  width: 100%;
  padding: 0 30px;
  margin: 0 auto;
}
  

img{
  max-width: 100%;
  object-fit: cover;
}

h1{
  font-family: Montserrat; 
  font-size: 40px;
  font-weight: 700;
}

p{
  font-family: Montserrat; 
  color: var(--black);
}

@media (max-width: 480px){
  .container{
  padding: 0 15px;
  }
}